*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

htlm,
body {
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
  background-color: rgb(251, 160, 94);
}

.content {
  margin-block: 10px;
  height: 500px;
  background-color: rgb(246, 242, 128);
}